@charset "utf-8";

.classify-nav {
    padding-left: 23px;
    padding-top: 15px;
}

.classify-nav span {
    font-size: 16px;
    padding-left: 10px;
}

.classify-nav p {
    width: 919px;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 6px;
    color: #737373;
}

.classify-nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

.classify-nav ul li {
    float: left;
    padding: 0px 10px;
}

.classify-nav ul li span {
    font-size: 12px;
    padding: 6px 33px;
    background: #FFFFFF;
    border: 1px #e8dcdc solid;
}

.classify-nav ul li span:hover {
    cursor: pointer;
    background: #EBEBEB;
}

#content table tr td > div img {
    width: 156px;
}

#content {
    padding-top: 10px;
    padding-left: 25px
}

#content table tr td {
    padding-left: 20px;
    padding-top: 25px;
}

.box_img {
    overflow: hidden;
    padding-bottom: 10px;
}

#ssheet_box {
    padding-top: 25px;
}

#ssheet_box li {
    display: inline-block;
    width: 155px;
    padding-bottom: 20px;
    padding-left: 33px;
}

#ssheet_box li img {
    width: 160px;
    height: 160px;
    background: url(../../images/loading.gif) 50% no-repeat;
}