@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

body {
    background-image: url("../../img/background.jpg");
    background-size: cover;
    overflow: hidden;
    height: 100%;
}

input {
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    height: 23px;
    width: 260px;
}

#search_tips {
    color: black;
    width: 227px;
    border: 1px #ccc solid;
    background: white;
    position: absolute;
    top: 36px;
    left: 122px;
    border-radius: 3px;
    padding: 15px;
}

#search_tips ul li {
    padding-top: 5px;
}

#search_tips ul li:hover {
    cursor: pointer;
}

#search_tips ul li span {
    font-size: 12px;
}

#search_tips div > span {
    color: #666;
}


.foot img {
    background-size: cover;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
}

.right,img:hover {
    cursor: pointer;
}
