#songlist_box li {
    display: inline-block;
    width: 160px;
    padding-left: 24px;
    padding-top: 5px;
}

#songlist_box li img {
    width: 160px;
    height: 160px;
    background: url(../../images/loading.gif) 50% no-repeat;
}

#album_box li:hover {
    cursor: pointer;
}

#mv_box {
    padding-top: 10px;
}

#mv_box li {
    display: inline-block;
    width: 180px;
    padding-left: 7px;
}

#mv_box li img {
    width: 180px;
    height: 105px;
    background: url(../../images/loading.gif) 50% no-repeat;
}

#singer_box li {
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 50px;
}

#singer_box li:hover {
    cursor: pointer;
}

#user_box li {
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 50px;
}

#user_box li:hover {
    cursor: pointer;
}

#song:hover {
    cursor: pointer;
}