@charset "UTF-8";
#ssheet_box li {
    display: inline-block;
    width: 160px;
    padding-bottom: 20px;
    padding-left: 28px;
}

#ssheet_box li img {
    width: 160px;
    height: 160px;
    background: url(../../images/loading.gif) 50% no-repeat;
}

#follow_box li {
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 28px;
}

#follow_box li:hover {
    cursor: pointer;
}

#followed_box li {
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 28px;
}

#followed_box li:hover {
    cursor: pointer;
}

#follow_box li img {
    width: 130px;
    height: 130px;
    background: url(../../images/loading.gif) 50% no-repeat;
}

#followed_box li img {
    width: 130px;
    height: 130px;
    background: url(../../images/loading.gif) 50% no-repeat;
}