#nav span:hover {
    cursor: pointer;
}

#mssheet_box li {
    display: inline-block;
    width: 160px;
    padding-bottom: 20px;
    padding-left: 28px;
}

#ssheet_box li {
    display: inline-block;
    width: 160px;
    padding-bottom: 20px;
    padding-left: 28px;
}

#follow_box li {
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 28px;
}

#follow_box li:hover {
    cursor: pointer;
}

#followed_box li {
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 28px;
}

#followed_box li:hover {
    cursor: pointer;
}

#singer_box li {
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 28px;
}

#singer_box li:hover {
    cursor: pointer;
}