@charset "utf-8";

#comment {
    resize: none;
    height: 80px;
    display: block;
    width: 943px;
    padding: 5px 6px 6px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    line-height: 19px;
    font-size: 13px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

#album_box li {
    display: inline-block;
    width: 175px;
    padding-left: 14px;
}

#album_box li img {
    width: 160px;
    height: 160px;
    background: url(../../images/loading.gif) 50% no-repeat;
}

.brief::-webkit-scrollbar {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    background-color: #f5f5f7;
    width: 5px;
}

.brief::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.brief::-webkit-scrollbar-track {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    background-color: #D8D8D8;
}










