@charset "UTF-8";

input {
    height: 23px;
    width: 180px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

html, body {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.foot img {
    background-size: cover;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
}

img:hover{
    cursor: pointer;
}