* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fl {
    float: left;
}

.pagger {
    height: 30px;
    margin: 20px auto 0px auto;
    text-align: center;
    width: 730px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #303133;
    display: block;
}

.tableBox {
    padding-bottom: 0px;
}

.pagger-box {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    margin: 0 auto;
    padding-left: 110px;
}

.pagger button {
    padding: 0 5px;
    margin: 0 10px;
    height: 18px;
    float: left;
    cursor: pointer;
    border: 0px solid #ebebeb;
    background-color: #ffffff;
}

.pagger .first-page,
.pagger .last-page {
    margin: 0;
}

.pagger .pageWrap {
    height: 40px;
    float: left;
    overflow: hidden;
}

.pagger .pageWrap ul {
    width: 999999999px;
    height: 40px;
    float: left;
}

.pagger .pageWrap ul li {
    width: 15px;
    height: 16px;
    margin: 0px 15px;
    border-radius: 15px;
    pagger-sizing: border-pagger;
    cursor: pointer;
    float: left;
}

.pagger .pageWrap ul .sel-page {
    background: #31C27C;
    padding: 4px 10px;
    color: #fff;
}

.pagger .jump-text {
    width: 30px;
    height: 20px;
    pagger-sizing: border-pagger;
    border: 1px solid #E5E6E7;
    text-align: center;
    margin: 0 5px;
    float: left;
}

.pagger .jump-button {
    margin: 0;
    float: left;
}

.pagger .total-pages,
.pagger .total-count {
    margin-left: 10px;
    float: left;
    font-size: 14px;
    display: none;
}

